
.game-header button.btn-undo {
    border-color: #f44336;
    background-color: rgb(255, 187, 187);
    margin-left: 32px
}

.game-header button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.game-header button.btn-save {
    border-color: #1fcf28;
    background-color: #abeeae;
    margin-left: 32px
}

.game-header button.btn-color {
    opacity: 0.4;
}

.game-header button.btn-color:hover {
    opacity: 1.0;
}

.game-header button.btn-color.selected {
    opacity: 1.0;
}

.game-header button.btn-color.red {
    background-color: red;
}

.game-header button.btn-color.green {
    background-color: green;
}

.game-header button.btn-color.blue {
    background-color: blue;
}

.game-header button.btn-color.yellow {
    background-color: yellow;
}

.game-header button.btn-color.brown {
    background-color: saddlebrown;
}

.game-header button.btn-color.black {
    background-color: black;
}

.game-header button.btn-color.gray {
    background-color: lightgray;
}