body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

.game-header{
    max-width:none;
    padding: 0;
    margin : 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 32px;
    background-color:white;
}
.game-box {
    max-width:none;
    padding: 0;
    margin : 0;
    position: fixed;
    top: 32px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
}

.game-box canvas{
    max-width:none;
    padding: 0;
    margin : 0;
}